.categoryList {
    margin-top: 35px;
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .categoryItem {
    padding: 10px 25px;
    border-radius: 10px;
    font-size: 14px;
  }
  
  .categoryItem.cyber {
    background-color: #f73f3f31;
  }
  
  .categoryItem.networking {
    background-color: #da85c731;
  }
  
  .categoryItem.swe {
    background-color: #7fb88133;
  }
  
  .categoryItem.math {
    background-color: #ff795736;
  }
  
  .categoryItem.psychology {
    background-color: #ffb04f45;
  }

  .categoryItem.other {
    background-color: #723f0045;
  }
  
